/* ========== FORMULIEREN ========== */
form input,
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1em;
}

form input[type="submit"] {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

form input[type="submit"]:hover {
    background: var(--accent-color);
}